* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px black;
}

body{
  width: 100vw;
  min-height: 100vh;
  background: url("./img/noaa-kcvlb727mn8-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.logo{
  display: flex;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.88);
}

.fa-umbrella{
  font-size: 40px;
  margin-right: 10px;
}

.container {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.navbar {
  height: 15vh;
  display: flex;
  gap: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.089);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.search_container {
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  height: fit-content;
  align-self: center;
  background: rgba(255, 255, 255, 0.3);
  max-width: max-content;
  display: flex;
  gap: 20px;
  margin: auto;
}

.search_input {
  border: none;
  background: transparent;
  outline: none;
  width: 300px;
  text-shadow: none;
}

.fa-magnifying-glass {
  text-shadow: none;
}

.day {
  width: 32.26vh;
  height: 35.85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 3vh;
  font-weight: bold;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0);
  border: 1px solid rgba(255, 255, 255, 0.089);
}

.city_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 50vh;
  height: 65vh;
  font-size: 4vh;
  font-weight: bold;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0);
  border: 1px solid rgba(255, 255, 255, 0.089);
}

footer {
  height: 5vh;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0);
  border: 1px solid rgba(255, 255, 255, 0.089);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

a{
  margin-left: 30px;
  text-decoration: none;
  color: white;
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;
    overflow: auto;
    justify-content: start;
    gap: 15px;
    padding: 15px;
  }
  .search_input {
    width: 200px;
  }
  .city_card {
    font-size: 5vw;
    width: 50vw;
    height: 65vw;
  }
  .day {
    font-size: 4vw;
    width: 32.26vw;
    height: 35.85vw;
  }
  .navbar {
    font-size: 4vw;
  }
  .search_input {
    font-size: 3vw;
    width: 30vw;
  }
  .fa-magnifying-glass {
    font-size: 3vw;
  }
  .fa-umbrella {
    font-size: 8vw;
  }
  footer {
    font-size: 3vw;
  }
}